.SearchPage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primarycolor);
}

.PrincipleTitle {
    width: 100%;
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .Input {
        width: 80%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .Input {
        width: 70%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .Input {
        width: 40%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .Input {
        width: 35%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .Input {
        width: 30%;
    }
}

.Input {
    height: 40px;
    position: relative;
    padding: 0px 16px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 800;
    line-height: normal;
    background-color: white;
    color: var(--primarycolor);
    outline: none;
}

.ErrorMessage {
    color: skyblue;
    font-style: italic;
}
